<section class="p-4 sm:p-6 lg:p-8 xl:p-10">
  <!-- cabecera -->
  <div
    class="mb-6 flex flex-col gap-3 md:flex-row md:items-center md:justify-between"
  >
    <h1 class="text-2xl font-semibold">Catálogo interno</h1>

    <!-- + nuevo -->
    <a
      routerLink="nuevo"
      class="rounded-full bg-[#E5D2BC] px-4 py-2 text-sm font-medium text-gray-800 transition hover:bg-[#d9c0a9]"
    >
      + Nuevo producto
    </a>
  </div>

  <!-- error global -->
  <p
    *ngIf="errorMsg"
    class="mb-4 rounded bg-red-100 p-4 text-red-700"
  >
    {{ errorMsg }}
  </p>

  <!-- grid de cards -->
  <div
    *ngIf="pasteles$ | async as pasteles"
    class="grid gap-6 grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3"
  >
    <!-- card -->
    <div
      *ngFor="let p of pasteles"
      class="flex overflow-hidden rounded-2xl bg-white shadow-sm transition hover:shadow-md"
    >
      <!-- thumb -->
      <img
        [src]="apiUrl + '/images/' + p.imagen"
        [alt]="p.nombre"
        class="h-28 w-28 flex-none object-contain p-1 bg-[#fafafa]"
        />


      <!-- contenido -->
      <div class="flex flex-1 flex-col justify-between p-4">
        <div>
          <h3 class="truncate text-sm font-semibold">{{ p.nombre }}</h3>
          <p class="text-sm text-[#B9A99B]">
            {{ p.precio | currency:'EUR':'symbol' }} / unidad
          </p>
        </div>

        <!-- botones -->
        <div class="mt-4 grid grid-cols-2 gap-2">
          <a
            routerLink="editar/{{ p.id }}"
            class="rounded-full bg-blue-50 py-1 text-center text-xs font-medium text-blue-600 hover:bg-blue-100"
          >
            Editar
          </a>
          <button
            (click)="eliminar(p.id)"
            class="rounded-full bg-red-50 py-1 text-center text-xs font-medium text-red-600 hover:bg-red-100"
          >
            Eliminar
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
